name: Check docs

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_docs:
    name: Check docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Python and Poetry
        id: setup-python-poetry
        uses: ./.github/actions/setup-python-poetry
      - name: Check for lock changes
        run: poetry check --lock
      - name: Cache virtualenv (with docs)
        uses: actions/cache@v4
        with:
          path: .venv
          key: nitypes-with-docs-${{ runner.os }}-py${{ steps.setup-python-poetry.outputs.python-version }}-${{ hashFiles('poetry.lock') }}
      - name: Install nitypes (with docs)
        run: poetry install -v --only main,docs
      - name: Generate docs
        run:  poetry run sphinx-build docs docs/_build -b html -W
      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: nitypes-docs
          path: docs/_build/