name: Check nitypes

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_nitypes:
    name: Check nitypes
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Set up Python
        uses: ni/python-actions/setup-python@e8f25e9a64426bd431ac124b83df11b76cdf60d5 # v0.1.0
        id: setup-python
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@e8f25e9a64426bd431ac124b83df11b76cdf60d5 # v0.1.0
      - name: Check for lock changes
        run: poetry check --lock
      - name: Cache virtualenv
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: .venv
          key: nitypes-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('poetry.lock') }}
      - name: Install nitypes
        run: poetry install -v
      - name: Lint
        run: poetry run ni-python-styleguide lint
      - name: Mypy static analysis (Linux)
        run:  poetry run mypy
      - name: Mypy static analysis (Windows)
        run:  poetry run mypy --platform win32
      - name: Bandit security checks
        run:  poetry run bandit -c pyproject.toml -r src/nitypes
      - name: Add virtualenv to the path for pyright-action
        run: echo "$(poetry env info --path)/bin" >> $GITHUB_PATH
      - name: Pyright static analysis (Linux)
        uses: jakebailey/pyright-action@7e7f09e52a331b25d6d2e8ad7af8ed99a46c8d73 # v2.0.2
        with:
          python-platform: Linux
          version: PATH
      - name: Pyright static analysis (Windows)
        uses: jakebailey/pyright-action@7e7f09e52a331b25d6d2e8ad7af8ed99a46c8d73 # v2.0.2
        with:
          python-platform: Windows
          version: PATH
