name: CI

on:
  push:
    branches:
      - main
      - 'releases/**'
  workflow_call:
  workflow_dispatch:

jobs:
  check_nitypes:
    name: Check nitypes
    uses: ./.github/workflows/check_nitypes.yml
  aggregate:
    runs-on: ubuntu-latest
    needs: check_nitypes
    steps:
      - run: exit 0
  check_nitypes_results:
    runs-on: ubuntu-latest
    needs: [aggregate]
    if: ${{ !cancelled() }}
    steps:
      - if: ${{ needs.aggregate.result != 'success' }}
        run: exit 1
      - run: exit 0
  check_docs:
    name: Check docs
    uses: ./.github/workflows/check_docs.yml
  run_unit_tests:
    name: Run unit tests
    uses: ./.github/workflows/run_unit_tests.yml
    needs: [check_nitypes]
  run_unit_tests_oldest_deps:
    name: Run unit tests (oldest deps)
    uses: ./.github/workflows/run_unit_tests_oldest_deps.yml
    needs: [check_nitypes]
  report_test_results:
    name: Report test results
    uses: ./.github/workflows/report_test_results.yml
    needs: [run_unit_tests, run_unit_tests_oldest_deps]
    if: always()
    permissions:
      contents: read
      checks: write
      pull-requests: write