name: CI

on:
  push:
    branches:
      - main
      - 'releases/**'
  workflow_call:
  workflow_dispatch:

jobs:
  # Job to upload event file for fork/dependabot support
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: Event File
        path: ${{ github.event_path }}

  check_nitypes:
    name: Check nitypes
    uses: ./.github/workflows/check_nitypes.yml
  check_docs:
    name: Check docs
    uses: ./.github/workflows/check_docs.yml
  checks_succeeded:
    name: Checks succeeded
    needs: [check_nitypes, check_docs]
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
  run_unit_tests:
    name: Run unit tests
    uses: ./.github/workflows/run_unit_tests.yml
    needs: [checks_succeeded]
  run_unit_tests_oldest_deps:
    name: Run unit tests (oldest deps)
    uses: ./.github/workflows/run_unit_tests_oldest_deps.yml
    needs: [checks_succeeded]