name: Publish nitypes

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      environment:
        default: 'testpypi'

env:
  dist-artifact-name: nitypes-distribution-packages

jobs:
  check_nitypes:
    name: Check nitypes
    uses: ./.github/workflows/check_nitypes.yml
  check_docs:
    name: Check docs
    uses: ./.github/workflows/check_docs.yml
  build_nitypes:
    name: Build nitypes
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: ni/python-actions/setup-python@e8f25e9a64426bd431ac124b83df11b76cdf60d5 # v0.1.0
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@e8f25e9a64426bd431ac124b83df11b76cdf60d5 # v0.1.0
      - name: Build distribution packages
        run: poetry build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.dist-artifact-name }}
          path: dist/*
  publish_to_testpypi:
    name: Publish nitypes to TestPyPI
    if: github.event_name == 'workflow_dispatch' && inputs.environment == 'testpypi'
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/nitypes
    permissions:
      id-token: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.dist-artifact-name }}
    - name: Upload to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
  publish_to_pypi:
    name: Publish nitypes to PyPI
    if: github.event_name == 'release' || inputs.environment == 'pypi'
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/nitypes
    permissions:
      id-token: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.dist-artifact-name }}
    - name: Upload to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1