name: Test Results

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
  pull_request_target:
    types:
      - closed
permissions: {}

jobs:
  test-results:
    name: Test Results
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success' || github.event.workflow_run.conclusion == 'failure' || github.event.pull_request.merged == true

    permissions:
      checks: write

      # needed unless run with comment_mode: off
      pull-requests: write

      # required by download step to access artifacts API
      actions: read

      # needed for fork PR support
      contents: read

    steps:
      - name: Debug Event Info
        run: |
          echo "Event name: ${{ github.event_name }}"
          echo "Workflow run ID: ${{ github.event.workflow_run.id || github.run_id }}"
          echo "Head SHA: ${{ github.event.workflow_run.head_sha || github.sha }}"

      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d
        with:
           run_id: ${{ github.event.workflow_run.id || github.run_id }}
           path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha || github.sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event || github.event_name }}
          files: "artifacts/**/*.xml"