name: Report test results (forks)

on:
  workflow_run:
    workflows: ["PR"]
    types:
      - completed

jobs:
  report_test_results:
    name: Report test results
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'skipped' }}
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download test results
        uses: dawidd6/action-download-artifact@268677152d06ba59fcec7a7f0b5d961b6ccd4e16 # v3.1.4
        with:
          path: test_results
          name_is_regexp: true
          name: test_results_.*
          workflow_conclusion: ""
          run_id: ${{ github.event.workflow_run.id }}
      - name: List downloaded files
        run: ls -lR
      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          files: "test_results/**/*.xml"
          commit: ${{ github.event.workflow_run.head_sha }}
        if: always()