name: Run unit tests (oldest deps)

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run_unit_tests_oldest_deps:
    name: Run unit tests (oldest deps)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: [3.9]
      # Fail-fast skews the pass/fail ratio and seems to make pytest produce
      # incomplete JUnit XML results.
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - name: Cache virtualenv
        id: cache-virtualenv
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .venv
          key: nitypes-oldest-deps-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('poetry.lock') }}
      - name: Install nitypes (latest deps)
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        run: poetry install -v
      - name: Pin oldest compatible dependencies
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        run: |
          poetry run python scripts/pin_oldest_deps.py pyproject.toml
          poetry lock
      - name: Install nitypes (oldest deps)
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        run: poetry install -v
      - name: Display installed dependency versions
        run: poetry run pip list
      - name: Run unit tests and code coverage
        # Skip test___pickled_value___unpickle___is_compatible because this test's pickle data was saved with NumPy 2.x and cannot be loaded in NumPy 1.x.
        run: poetry run pytest ./tests/unit -v --cov=nitypes --junitxml=test_results/nitypes-oldest-deps-${{ matrix.os }}-py${{ matrix.python-version }}.xml -k "not test___pickled_value___unpickle___is_compatible"
      - name: Upload test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test_results_unit_oldest_deps_${{ matrix.os }}_py${{ matrix.python-version }}
          path: ./test_results/*.xml
        if: always()
