name: Run unit tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run_unit_tests:
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: [3.9, '3.10', 3.11, 3.12, 3.13]
      # Fail-fast skews the pass/fail ratio and seems to make pytest produce
      # incomplete JUnit XML results.
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: ni/python-actions/setup-python@users/bkeryan/create-python-actions
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@users/bkeryan/create-python-actions
      - name: Cache virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: nitypes-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('poetry.lock') }}
      - name: Install nitypes
        run: poetry install -v
      - name: Run unit tests and code coverage
        run: poetry run pytest ./tests/unit -v --cov=nitypes --junitxml=test_results/nitypes-${{ matrix.os }}-py${{ matrix.python-version }}.xml
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test_results_unit_${{ matrix.os }}_py${{ matrix.python-version }}
          path: ./test_results/*.xml
        if: always()
