name: Test Results

on:
  pull_request:
  push:
    branches: [main, 'releases/**']

jobs:
  test-results:
    name: Test Results
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Set Status
        run: echo "Test Results status check satisfied"